@font-face
{
	font-family: bit2shift;
	src: url(bit2shift.ttf);
}

body
{
	background: url(logo.png) 8px 8px no-repeat, url(metal.png);
	margin-top: 80px;
}

input
{
	border: 2px solid #444;
	border-radius: 20px;
	box-shadow: 0 0 20px #444 inset;
	margin: 4px;
	text-align: center;
}

input, p
{
	color: #444;
	font: 1em bit2shift;
	text-shadow:
		  -1px 0   2px #CCC,
		  +1px 0   2px #CCC,
		0 -1px     2px #CCC,
		0 +1px     2px #CCC;
}
