# ignore bin subfolders
*/bin

# ignore Maven|MC files
Loader/jar
Loader/target
Loader/tmp

# ignore SMF files
Widget/*
!Widget/.buildpath
!Widget/.project
!Widget/autoauth

# ignore cached SHA256 checksums
Widget/autoauth/*/.cache
